/* Import Google Fonts with regular and medium weights for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #dark {
    background: #030712;
    color: #ffffff;
  }
  
  #light {
    background-color: #fff;
    color: #000000;
  }
  
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
  }
  .app{
    width: 70%;
    min-height: 100vh;
    margin-bottom: 60px;

  }
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .lato {
    font-family: 'Lato', sans-serif;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }
@media(max-width: 700px){
  .app{
    width: 70%;
  }

}